<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicoMuebles | Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header>
      <h1 class="header__titulo">
        Tico<span class="header__titulo--azul">Muebles</span>
      </h1>
    </header>
    <div class="nav-contenedor">
      <nav class="nav nav__contenedor">
        <a class="nav__link" href="index.html">Inicio</a>
        <a class="nav__link" href="nosotros.html">Nosotros</a>
        <a class="nav__link" href="tienda.html">Tienda</a>
        <a class="nav__link" href="blog.html">Blog</a>
        <a class="nav__link" href="galeria.html">Galería</a>
        <a class="nav__link" href="contacto.html">Contacto</a>
      </nav>
    </div>
    <main class="main main__contenedor">
      <h2 class="blog__titulo">Nuestro Blog</h2>
      <section class="blog__grid">
        <div class="blog__entradas">
          <article class="entrada">
            <h3 class="entrada__titulo">Guía de colores</h3>
            <div class="entrada__img">
              <picture>
                <source srcset="./assets/img/nosotros.avif" type="image/avif" />
                <source srcset="./assets/img/nosotros.webp" type="image/webp" />
                <img
                  loading="lazy"
                  width="500"
                  height="300"
                  src="./assets/img/nosotros.jpg"
                  alt=""
                />
              </picture>
            </div>
            <div class="entrada__contenido">
              <div class="entrada__meta">
                <p class="entrada__copy">
                  Fecha:
                  <span class="entrada__copy--color">22 Noviembre de 2022</span>
                </p>
                <p class="entrada__copy">
                  Escrito por:
                  <span class="entrada__copy--color">Monserrat Mora</span>
                </p>
              </div>
              <div class="entrada__texto">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
                  quod veritatis perferendis obcaecati quibusdam error, suscipit
                  doloribus illum ab molestias totam magnam? Illum, ad magni
                  ratione nihil minus enim quae.
                </p>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Natus, iste, earum distinctio enim consectetur fugiat modi
                  tempora ducimus alias libero necessitatibus. Nihil ratione
                  nemo alias delectus eos, consectetur aliquid quam.
                </p>
              </div>
              <a class="entrada__btn" href="entrada.html"
                >Leer más</a
              >
            </div>
          </article>
        </div>
        <aside class="aside">
          <h3 class="aside__titulo">Otras entradas de blog</h3>
          <ul class="aside__lista">
            <li>
              <a href="#"> Entrada 1</a>
            </li>
            <li>
              <a href="#"> Entrada 2</a>
            </li>
            <li>
              <a href="#"> Entrada 3 </a>
            </li>
          </ul>
        </aside>
      </section>
    </main>

    <footer class="footer">
      <div class="footer__grid footer__contenedor">
        <div>
          <h3 class="footer__titulo">Categorías</h3>
          <nav class="nav nav--footer">
            <a class="nav__link nav__link--footer" href="#">Oficina</a>
            <a class="nav__link nav__link--footer" href="#">Jardin</a>
            <a class="nav__link nav__link--footer" href="#">Cochera</a>
            <a class="nav__link nav__link--footer" href="#">Habitación</a>
          </nav>
        </div>
        <div>
          <h3 class="footer__titulo">Nosotros</h3>
          <nav class="nav nav--footer">
            <a class="nav__link nav__link--footer" href="#">Historia</a>
            <a class="nav__link nav__link--footer" href="#">Misión</a>
            <a class="nav__link nav__link--footer" href="#">Valores</a>
            <a class="nav__link nav__link--footer" href="#">Politica de privacidad</a>
            <a class="nav__link nav__link--footer" href="#">Términos de servicio</a>
          </nav>
        </div>
        <div>
          <h3 class="footer__titulo">Soporte</h3>
          <nav class="nav nav--footer">
            <a class="nav__link nav__link--footer" href="#">Preguntas frecuentes</a>
            <a class="nav__link nav__link--footer" href="#">Ayuda</a>
            <a class="nav__link nav__link--footer" href="#">Confianza y seguridad</a>
          </nav>
        </div>
      </div>
      <p class="footer__copy">Todos los derechos reservados TicoMuebles &copy;</p>
    </footer>
  </body>
</html>
